/* Form settings */

body{
  display: flex;
  flex-direction: column
}

body h1 {
	color: var(--color-100);
	text-align: center;
	margin: 1em 0 .4em 0;
  text-transform: uppercase;
}

p {
  display: flex;
  justify-content: center;

  font-family: "Rubik Mono One", monospace;
	font-weight: 400;
	font-style: normal;
}

h4{
  display: flex;
  color: var(--color-100);
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  place-self: center;
  align-items: center;

  max-width: max-content;
  margin-top: 24px;
  padding: 24px;
  gap: 16px;

  border-radius: .3em;
  background-color: var(--color-400);

}

form {
  display: flex;
  flex-direction: column;

  max-width: max-content;
  gap: 8px;
}

form input {
  display: grid;
  grid-column: auto;
  align-items: center;

  text-decoration: none;
  color: var(--color-100);

  width: 300px;
  padding: 10px;
  border-radius: .3em;

  background-color: var(--color-600);

  font-family: "Rubik Mono One", monospace;
	font-weight: 400;
	font-style: normal;
  font-size: 16px;
  color: var(--color-100);

  border: none;
  cursor: pointer;
}

form input::placeholder {
  color: var(--color--200);
}

.button-container {
  display: grid;
  place-content: center;

  text-decoration: none;
}

.button-modif {
  border: none;

  color: var(--color-200);
  background-color: var(--color-600);
  max-width: min-content;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}

.button-modif:hover {
  background-color: var(--color-500);
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.link-text {
  text-decoration: underline;
  font-size: 16px;
  color: var(--color-100);
}

.link-text:hover{
  color: var(--color-50);
}

/* End Form settings */

/* Address settings 

Por si hay que agregar algo...

*/

