/* Nav settings */

.nav-container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: var(--color-600);

}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: .4em .75em;
	margin-top: .4em;
	text-transform: uppercase;
	font-size: 1.2em;
}

.nav-item img {
	width: 3em;
	/* margin: .25em .25em; */
}

.nav-item a b {
	padding: 1.4em 1.4em 1.4em 1.4em;
	color: var(--color-100);
	transition: color 170ms;
	cursor: pointer;
}

.nav-item b:hover {
	color: #ffffff;
}

.nav-item-user {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: .4em .75em;
	margin-top: .4em;
}

/* End Nav settings */

a {
	outline: none;
	text-decoration: none;
}

a:link {
	color: var(--color-50);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Form settings */

body{
  display: flex;
  flex-direction: column
}

body h1 {
	color: var(--color-100);
	text-align: center;
	margin: 1em 0 .4em 0;
  text-transform: uppercase;
}

p {
  display: flex;
  justify-content: center;

  font-family: "Rubik Mono One", monospace;
	font-weight: 400;
	font-style: normal;
}

h4{
  display: flex;
  color: var(--color-100);
}

.form-container {
  display: flex;
  flex-direction: column;
  place-self: center;
  align-items: center;

  max-width: max-content;
  margin-top: 24px;
  padding: 24px;
  gap: 16px;

  border-radius: .3em;
  background-color: var(--color-400);

}

form {
  display: flex;
  flex-direction: column;

  max-width: max-content;
  gap: 8px;
}

form input {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: var(--color-100);

  width: 300px;
  padding: 10px;
  border-radius: .3em;

  background-color: var(--color-600);

  font-family: "Rubik Mono One", monospace;
	font-weight: 400;
	font-style: normal;
  font-size: 16px;
  color: var(--color-100);

  border: none;
  cursor: pointer;
}

form input::placeholder {
  color: var(--color--200);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
}

.button-modif {
  border: none;

  color: var(--color-200);
  background-color: var(--color-600);

  cursor: pointer;
}

.change-password-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.change-password-link a, p {
  text-decoration: underline;
  color: var(--color-100);
}

