.main-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-container {
  text-align: center;
  
}

.title-container__text {
	color: var(--color-100);
  text-align: center;
  margin: 1em 0 .4em 0;
  text-transform: uppercase;
}

/* newAddress Settings */

.form-container__form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-400);
  border-radius: .5em;
  padding: 2em;
  gap: 1em;
}

.form-container__form__separator {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3em;
}

.form-container__form__separator__input {
  display: flex;
  width: 30em;
  flex-direction: column;
  gap: .2em;
}

.form-container__form__separator__input label {
  color: var(--color-100);
}

.form-container__form__separator__input label span {
  color: #ff0000;
}

.form-container__form__separator__input input {
  transition: outline 140ms;
  color: var(--color-100);
  background-color: var(--color-500);
  padding: 0 .625em 0 .625em;
  height: 2.5em;
  border-radius: 0.2em;
  outline: none;
  border: 0;
  text-decoration: none;
  font-size: 1em;
}

.form-container__form__separator__button {
    transition: background-color 170ms;
    background-color: var(--color-600);
    width: 8em;
    color: var(--color-100);
    padding: .125em 1em;
    height: 2.75em;
    border-radius: 0.2em;
    font-size: 1em;
    line-height: 1.5em;
    border: 0;
    cursor: pointer;
    
}

.form-container__form__separator__button:hover {
  background-color: var(--color-700);
}

.form-container__form__separator__text {
  color: var(--color-100);
}

/* End newAddress Settings */

/* --------------------------------------------------------------------------------------------------------- */

/* myAddress Settings */

.addresses-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-500);
  border-radius: .5em;
  width: 80%;
}


.addresses-container__address {
  padding: 2em;
  border-bottom: solid .3em var(--color-950);
}

.addresses-container__address__text {
  color: var(--color-100);
}

.addresses-container__address__info {
  color: var(--color-100);
  margin-left: 1.5em;
  margin-top: 1em;
}

.addresses-container__address__info__text {
  color: var(--color-100);
}


.addresses-container__add-address {
  display: flex;
  height: 100%;
  width: 100%;
}

.addresses-container__add-address a {
  display: flex;
  height: 100%;
  width: 100%;
}

.addresses-container__add-address a:hover {
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  background-color: var(--color-600);
}

.addresses-container__add-address__button__text {
  color: var(--color-100);
  padding: 1em;
}

/* End myAddress Settings */