/* -------------------------------- Header --------------------------------------- */

.header-container{
  display: flex;
  
  width: 100%;
  height: 70px;

  background-color: var(--background-list);

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.logo-container{
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.button-login-container, .button-logout-container{
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.button-login, .button-logout{
  text-decoration: none;
  color: var(--text);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  background-color: var(--button-default);

  padding: 5px;
  border-radius: 5px;

  cursor: pointer;
}



/* -------------------------------- Productos listado --------------------------------------- */

body{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-body);
}

h1{
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  font-style: normal;

  color: var(--text);
  margin-top: 10px;
  
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

img{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.logo{
  box-shadow: none;
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  max-width:max-content;
  margin-top: 10px;
  padding: 15px;
  gap: 15px;

  border-radius: 15px;
  background-color: var(--background-list);

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}