/* -------------------------------- Header --------------------------------------- */

.header-container{
  display: flex;
  
  width: 100%;
  height: 70px;

  background-color: var(--background-list);

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.logo-container{
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.logo{
  box-shadow: none;
}

.button-login-container{
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.button-login{
  text-decoration: none;
  color: var(--text);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  background-color: var(--button-default);

  padding: 5px;
  border-radius: 5px;

  cursor: pointer;
}

/* -------------------------------- Login / Register --------------------------------------- */

body{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-body);
}

h1{
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  font-style: normal;

  display: flex;
  justify-content: center;

  color: var(--text);
  
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: max-content;
  margin-top: 24px;
  padding: 24px;
  gap: 16px;

  border-radius: 8px;
  background-color: var(--background-list);

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: max-content;
  gap: 16px;

  border-radius: 8px;
}

form input{
  text-decoration: none;
  color: var(--text);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  padding: 8px;
  border-radius: 10px;

  background-color: var(--button-default);

  font-family: "Permanent Marker", cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;

  cursor: pointer;
}

form input::placeholder {
  color: var(--text);
}

.button-register{
  text-decoration: none;
  color: var(--text);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  background-color: var(--button-default);

  padding: 5px;
  border-radius: 10px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

h3{
  font-family: "Permanent Marker", cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}