* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

html {
	height: 100%;
}

body {
	/* background-size: cover; */
	background-color: var(--color-950);
	height: 100%;
}

:root {
	--color-50: #f2f9f9;
	--color-100: #ddeff0;
	--color-200: #bfe0e2;
	--color-300: #92cace;
	--color-400: #5faab1;
	--color-500: #438e96;
	--color-600: #3b757f;
	--color-700: #356169;
	--color-800: #325158;
	--color-900: #2d464c;
	--color-950: #1a2c32;

	/* Font Permanent Marker */

	font-family: "Rubik Mono One", monospace;
	font-weight: 400;
	font-style: normal;

}